.remove-item{
  background-color: white;
  color: #f65e81;
  border: none;
  margin-left: 1em;
  outline: none;
  padding: 0;
}

.new-item {
  display: flex;
}

input {
  adding: 0.5em;
    border: 1px solid #f32e5b;
    background-color: #fbbfcd;
}

.app {
  margin: auto;
  max-width: 400px;
}
